@{
	decimal totallocal = (decimal)ViewBag.totalLocal;
	decimal foreignlocal = (decimal)ViewBag.totalForeign;
}

<div class="row">
	<div class="col-12">
		<label>Total Local</label>
		<b>@totallocal</b>
		<label>Total Foreign</label>
		<b>@foreignlocal</b>
	</div>

</div>
